/* General Styles */
body {
    margin: 0 auto;
    background-color: #fdfdfd;
}

h1 {
    font-size: 2em;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 150px;
    margin: 10px;
    padding: 8px;
    text-align: center;
    list-style: none;
    background-color:#fdfdfd;
    border-radius: 10px;
}

li img{
    width: 100px;
    height: 140px;
}

.svg-icon {
    width: 20px;
    height: 25px;
}
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #000000;
}
  
.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

/* ------- Header Styles ------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2e2e31;
    background-color: #fdfdfd;
    padding: 20px;
}

header img {
    width: 120px;
    height: 70px;
}

/* Search Styles */
.search-section {
    width: 350px;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 50px;
    margin-right: 15px;
    padding: 8px;
}

#search-books {
    width: 300px;
    height: 30px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    font-size: large;
}

#search-btn {
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
}

#search-btn:hover {
    background-color:#01c3c6; 
}

/* ------- Banner Section Styles ------- */

.banner-section{
    background-color: #f3f3f3;
}

.banner-section img{
    width: 100%;
    height: 100%;
}

.banners {
    display: flex;
    justify-content: center;
}

#banner-details {
    width: 200px;
    margin: 10px;
    text-align: center;
}

#banner-details p span {
    display: block; 
}

#banner-details img {
    width: 50px;
    height: 50px;
}

/* ------- Container Styles ------- */
.container {
    background-color:#fdfdfd;
    height: auto;
}

/* Overlay & Pop Up Box Styles */
.overlay-container { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    justify-content: center; 
    align-items: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
} 

.popup-box { 
    background:#f0f0f0; 
    padding: 30px; 
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    width: 400px; 
    text-align: center; 
    opacity: 0; 
    transform: scale(0.8); 
    animation: fadeInUp 0.5s ease-out forwards; 
}

/* Form Styles */
.form-container {
    display: flex; 
    flex-direction: column; 
} 

.form-label {
    margin-bottom: 10px; 
    font-size: large; 
    color: #000000; 
    text-align: right;
     
} 

.form-input { 
    padding: 8px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    background-color:#e4e4e4;
    border-radius: 8px; 
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box; 
    outline: none;
} 

#select-genre{
    font-size: large;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Submit & Close Button styles */
#btn-submit, 
#btn-close-popup { 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
} 

#btn-submit { 
    font-size: large;
    background-color:#00a2a4; 
    color: #fff; 
} 

#btn-close-popup { 
    font-size: large;
    width: 200px;
    margin-top: 12px; 
    background-color: #e74c3c; 
    color: #fff; 
} 

#btn-submit:hover{
    background-color:#008284; 
}

#btn-close-popup:hover { 
    background-color: #b72222; 
} 

@keyframes fadeInUp { 
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    } 

    to { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.overlay-container.show { 
    display: flex; 
    opacity: 1; 
}

/* ------- Option Section Styles ------- */
.option-section {
    display: flex;
    align-items: center;
    background-color:#fdfdfd;
}

/* Add New Book Btn Styles */
#addBtn {
    margin: 20px;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    color: #f0f0f0;
    background-color:#00a2a4;
    cursor: pointer;
    font-size: 18px;
} 

#addBtn:hover{
    background-color:#01c3c6;
}

/* Filter Option Styles */
.filter-container {
    position: relative;
}

.filter-dropdown {
    position: absolute;
    display: none;
    width: 200px;
    padding: 10px;
    line-height: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
  
.filter-container:hover .filter-dropdown {
    display: block;
}

#filter-genre{
    cursor: pointer;
}

.dropdown-btn {
    padding: 5px;
    font-size: large;
    border-radius: 5px;
    border-color:#baf6f7;
    border-style: solid;
    background-color:#fff;
    cursor: pointer;

}

.dropdown-btn:hover {
    background-color:#baf6f7;
}

#filter-btn{
    margin-top: 10px;
    height: 30px;
    width: 200px;
    font-size: large;
    border-radius: 5px;
    border-style: none;
    background-color: #00a2a4; 
    cursor: pointer;
}

#filter-btn:hover{
    background-color: #01c3c6; 
}

/* ------- Book Section Styles ------- */
.book-section{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20px;
    padding: 10px;
    background-color:#baf6f7;
    border-radius: 8px;
    max-height: 400px;
    overflow: auto;
}


/* ------- Image Slider Styles ------- */

.slider-section {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    position: relative;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background:#008284;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
    left: -22px;

}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 340px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .img {
    width: 100%;
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;

    }
}